<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>neGitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F2B8EB7D1E5309F700A2D7C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2B8EB961E5309F800A2D7C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2B8EBA11E5309F800A2D7C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
